/*

    RETRO COLOR SCHEME:

    Maroon: #5E0B15 (lighter: #A81425)
    Red: #90323d (lighter: #BD4452)
    Beige: #D9CAB3 (lighter: #E1D5C3)
    Bronze: #BC8034 (lighter: #D19B55)
    Brown: #8C7A6B (lighter: #A39487)

    Black
    White

*/