:root {
    /* grayscale */
    --black: black;
    --gray: gray;
    --white: white;
    /* retro color scheme */
    --maroon: #5E0B15;
    --red: #90323d;
    --beige: #D9CAB3;
    --bronze: #BC8034;
    --brown: #8C7A6B;
    /* retro color scheme - light variants */
    --light-maroon: #A81425;
    --light-red: #BD4452;
    --light-beige: #E1D5C3;
    --light-bronze: #D19B55;
    --light-brown: #A39487;
}