body {
    background-color: var(--beige);
}

section {
    border: 1px solid var(--brown);
    background-color: var(--light-beige);
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
}

.message {
    padding: 1rem;
}

    .message .x-btn {
        float: right;
        border: none;
    }

    .message, .message .x-btn {
        color: var(--black);
    }

.success, .success .x-btn {
    border: 1px solid var(--blue);
    background-color: var(--light-blue);
}

.neutral, .neutral .x-btn {
    border: 1px solid var(--brown);
    background-color: var(--light-brown);
}

.warning, .warning .x-btn {
    border: 1px solid var(--bronze);
    background-color: var(--light-bronze);
}

.error, .error .x-btn {
    border: 1px solid var(--red);
    background-color: var(--light-red);
}
