@page
@model RetroTapes.Pages.Movies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Film.FilmId" />
            <div class="form-group">
                
                <label asp-for="Film.Title" class="control-label"></label>
                <input asp-for="Film.Title" class="form-control" />
                <span asp-validation-for="Film.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Film.Description" class="control-label"></label>
                <input asp-for="Film.Description" class="form-control" />
                <span asp-validation-for="Film.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Film.ReleaseYear" class="control-label"></label>
                <input asp-for="Film.ReleaseYear" class="form-control" />
                <span asp-validation-for="Film.ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Film.LanguageId" class="control-label"></label>
                <select asp-for="Film.LanguageId" class="form-control" asp-items="ViewBag.LanguageId"></select>
                <span asp-validation-for="Film.LanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Film.OriginalLanguageId" class="control-label"></label>
                <select asp-for="Film.OriginalLanguageId" class="form-control" asp-items="ViewBag.OriginalLanguageId"></select>
                <span asp-validation-for="Film.OriginalLanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Film.RentalDuration" class="control-label"></label>
                <input asp-for="Film.RentalDuration" class="form-control" />
                <span asp-validation-for="Film.RentalDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Film.RentalRate" class="control-label"></label>
                <input asp-for="Film.RentalRate" class="form-control" />
                <span asp-validation-for="Film.RentalRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Film.Length" class="control-label"></label>
                <input asp-for="Film.Length" class="form-control" />
                <span asp-validation-for="Film.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Film.ReplacementCost" class="control-label"></label>
                <input asp-for="Film.ReplacementCost" class="form-control" />
                <span asp-validation-for="Film.ReplacementCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Film.Rating" class="control-label"></label>
                <input asp-for="Film.Rating" class="form-control" />
                <span asp-validation-for="Film.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Film.SpecialFeatures" class="control-label"></label>
                <input asp-for="Film.SpecialFeatures" class="form-control" />
                <span asp-validation-for="Film.SpecialFeatures" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Film.LastUpdate" class="control-label"></label>
                <input asp-for="Film.LastUpdate" class="form-control" />
                <span asp-validation-for="Film.LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
