@page
@model AboutModel
@{
	ViewData["Title"] = "About RetroTapes";
}

<section>
	<h1>@ViewData["Title"]</h1>
	<p>RetroTapes is a VHS rental service where you can:</p>
	<ul>
		<li>List, search, and filter movies to rent</li>
		<li>View active movie rentals</li>
		<li>View historical movie rentals</li>
	</ul>
	<p>It is built and maintained by a team of .NET development students from YH Akademin in Sweden.</p>
</section>