@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A VHS rental service.</p>
    <p>An actor's first name: @Model.FirstName</p>
    <p>An actor's last name: @Model.LastName</p>
</div>