@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A VHS rental service.</p>
    <p>Welcome!</p>
    <p>Now on David's branch. Will be merged to main.</p>
    <p> Rey testing branch </p>
</div>