@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row mb-4">
        <div class="container-md">
            <img class="img-logo" src="img/logo.png" />
        </div>
    </div>
    <a asp-page="/Movies/Index" class="btn btn-primary">Browse movies</a>
    <a asp-page="/About" class="btn btn-secondary">What is RetroTapes?</a>
</div>