@page
@model StyleGuideModel
@{
	ViewData["Title"] = "StyleGuide";
}

<section id="headers">
	<h1>Header h1</h1>
	<h2>Header h2</h2>
	<h3>Header h3</h3>
	<h4>Header h4</h4>
	<h5>Header h5</h5>
	<h6>Header h6</h6>
</section>

<section id="paragraphs">
	<h1>Paragraphs</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
		eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
		ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
		aliquip ex ea commodo consequat. Duis aute irure dolor in
		reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
		pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
		culpa qui officia deserunt mollit anim id est laborum.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
		eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
		ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
		aliquip ex ea commodo consequat. Duis aute irure dolor in
		reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
		pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
		culpa qui officia deserunt mollit anim id est laborum.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
		eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
		ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
		aliquip ex ea commodo consequat. Duis aute irure dolor in
		reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
		pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
		culpa qui officia deserunt mollit anim id est laborum.
	</p>
</section>

<section id="buttons">
	<h1>Buttons</h1>
	<button class="btn">.btn</button>
	<button class="btn btn-primary">btn-primary</button>
	<button class="btn btn-secondary">btn-secondary</button>
	<button class="btn btn-success">btn-success</button>
	<button class="btn btn-danger">btn-danger</button>
	<button class="btn btn-warning">btn-warning</button>
	<button class="btn btn-info">btn-info</button>
	<button class="btn btn-link">btn-link</button>
</section>

<section id="tables">
	<h1>Tables</h1>
	<h3>Long table with stripes</h3>
	<table class="table table-striped long">
		<tr>
			<th>th1</th>
			<th>th2</th>
			<th>th3</th>
			<th>th4</th>
		</tr>
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
		</tr>
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
		</tr>
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
		</tr>
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
		</tr>
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
		</tr>
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
		</tr>
	</table>
	<h3>Wide table with stripes</h3>
	<table class="table table-striped wide">
		<tr>
			<th>th1</th>
			<th>th2</th>
			<th>th3</th>
			<th>th4</th>
			<th>th5</th>
			<th>th6</th>
			<th>th7</th>
		</tr>
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
			<td>td5</td>
			<td>td6</td>
			<td>td7</td>
		</tr>
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
			<td>td5</td>
			<td>td6</td>
			<td>td7</td>
		</tr>
		<tr>
			<td>td1</td>
			<td>td2</td>
			<td>td3</td>
			<td>td4</td>
			<td>td5</td>
			<td>td6</td>
			<td>td7</td>
		</tr>
	</table>
</section>

<section id="messages">
	<h1>Messages</h1>
	<div class="message success">
		<button onclick="this.parentElement.style.display='none'" class="x-btn">X</button>
		<h4>Success</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div class="message neutral">
		<button onclick="this.parentElement.style.display='none'" class="x-btn">X</button>
		<h4>Neutral</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div class="message warning">
		<button onclick="this.parentElement.style.display='none'" class="x-btn">X</button>
		<h4>Warning</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div class="message error">
		<button onclick="this.parentElement.style.display='none'" class="x-btn">X</button>
		<h4>Error</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</section>

<section id="loading">
	<h1>Loading</h1>
	<div class="loading"></div>
</section>

<section id="panels">
	<h1>Panels</h1>
	<div class="panel success">
		<h4>Success</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div class="panel neutral">
		<h4>Neutral</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div class="panel warning">
		<h4>Warning</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div class="panel error">
		<h4>Error</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</section>

<section id="forms">
	<h1>Forms</h1>

	<h3>TextField</h3>
	<input class="textfield" type="text">
	<label>Textfield label</label>

	<h3>Radio</h3>
	<form>
		<input class="radio" type="radio" id="option1" name="option_1" value="OPTION1">
		<label for="option1">Option 1</label><br>
		<input class="radiobutton" type="radio" id="option2" name="option_1" value="OPTION2">
		<label for="option2">Option 2</label><br>
		<input class="radio" type="radio" id="option3" name="option_1" value="OPTION3">
		<label for="option3">Option 3</label><br>
	</form>
	<h3>Checkbox</h3>
	<form>
		<input class="checkbox" type="checkbox" id="option1" name="option_1" value="OPTION1">
		<label for="option1">Option 1</label><br>
		<input class="checkbox" type="checkbox" id="option2" name="option_2" value="OPTION2">
		<label for="option2">Option 2</label><br>
		<input class="checkbox" type="checkbox" id="option3" name="option_3" value="OPTION3">
		<label for="option3">Option 3</label><br>
	</form>
</section>

<section id="lists">
	<h1>Lists</h1>

	<h3>Ordered list</h3>
	<ol>
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
	</ol>

	<h3>Unordered list</h3>
	<ul>
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
	</ul>
</section>
